.nav-link:hover {
  color: #22899a !important;
}

.fontSubMenu {
  font-size: 13px;
}

#navbar2 {
  padding-top: 32px;
  padding-bottom: 62px;
}

#navbar2 .nav-link {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}


