.contSup{
  margin-top:20px;
}
@media (max-width: 575px) {
  .contSup {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .no-mg {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1380px) {
  .container.contSup {
    min-width: 1310px;
    max-width: 1310px;
  }
}