ul{
    list-style: none;
    padding-left: 0;
}

 li{
    cursor: pointer;
    outline: none;
    font-size: 15px;
}

 a{
    text-decoration: none;
    color: #222222;
}

 .mat-expansion-panel-header {
    padding: 0;
}

::ng-deep .mat-expansion-panel{
    padding-right: 5px;
}

 .mat-expansion-indicator
{
    width: 10px !important;
}

 .liSemFilho{
    /* height: 48px;
    line-height: 48px;   */
    margin: 12px 0;
}