<div class="titLinksExternos">
    <span class="fontSecundaria fontThin fiqueComGente">Fique com a gente!</span>
</div>


<app-lista-links [links]="links"></app-lista-links>

<div class="row SupLinksFaleConosco">
    <div class="bloco imgEsqListaLinks col-lg-6 col-md-12 col-sm-12 p-0 col-12" routerLink="/GrupoElgin">
        <!-- <img src="/assets/img/Site/Home/fabrica.jpg" class="imagem"> -->
        <label class="fontPrincipal fontThin bottom-right">O GRUPO ELGIN</label>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 p-0 col-12">
        <div class="row" class="imgDirListaLinksTop">
            <div class="col-md-12 p-0" routerLink="/TrabalheConosco">
                <!-- <img src="/assets/img/Site/Home/trabalhe.jpg" class="imagem"> -->
                <label class="fontPrincipal fontThin bottom-right">TRABALHE CONOSCO</label>
            </div>
        </div>
        <div class="row" class="imgDirListaLinksBotton">
            <div class="col-md-12 p-0" routerLink="/SejaAssistenciaTecnica">
                <!-- <img src="/assets/img/Site/Home/autorizada.jpg" class="imagem"> -->
                <label class="fontPrincipal fontThin bottom-right">SEJA UM AGENTE AUTORIZADO</label>
            </div>
        </div>
    </div>
</div>