<div class="container">
    <ng-container *ngIf="mostraEditar">
        <div class="row" style="margin-top:40px">
            <div class="col-sm-12">
                <label class="fontSecundaria">Texto</label>
                <ckeditor [(ngModel)]="proposito.texto"
                    [config]="{extraPlugins: 'divarea',toolbarGroups: toolbarGroup,autoParagraph: false}"
                    [readonly]="false" debounce="500">
                </ckeditor>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12 botoes text-center">
                <input class="btn-adc" type="button" value="Salvar" (click)="salvar();">
            </div>
        </div>
    </ng-container>
    <div showIfAdmin="RH_EDICAO" class="row text-right" style="margin-top:40px">
        <div class="col-sm-12 voltar">
            <a (click)="editar()"><i class="fas fa-pen"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 fontLight fontPrincipal" style="margin: 30px auto;">
            <h1 class="fontTituloPropositoDetalhe">Missão, Visão e Valores</h1>
            <div class="fontCorpoProposito" [innerHTML]="proposito.content"></div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12 voltar">
            <span routerLink="/PortaldeApoio/RH">&#60; Voltar</span>
        </div>
    </div> -->
</div>