<div class="container">
    <div class="row fontPrincipal">
        <div class="col-md-4 bloco bordaSeparacao text-center">
            <div class="divTituloBloco espacamentoBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img src="/assets/img/Site/Refrigeracao/icones/qualidade.svg">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">Qualidade</label>
                    </div>
                </div>
                <div>
                    <label class="fontLight texto" style="max-width: 180px;">
                        Política de qualidade e certificação ISO 9001
                    </label>
                </div>
            </div>
            <div class="divTituloBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img style="height: 45px;" src="/assets/img/Site/Automacao/rede-social.png">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">Redes Sociais</label>
                    </div>
                </div>
                <div>
                    <a  href="https://www.facebook.com/automacaoelgin"> <label class="fontLight texto lblMargin">Facebook</label><br></a>
                    <a  href="http://blog.elgin.com.br/blog/category/automacao">  <label class="fontLight texto lblMargin">Blog</label><br></a>
                    <a href="https://www.instagram.com/elgin.automacao"> <label class="fontLight texto lblMargin">Instagram</label><br></a>
                    <a  href="https://www.youtube.com/user/elginhomeoffice"> <label class="fontLight texto lblMargin">Youtube</label><br></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 bloco bordaSeparacao text-center">
            <div class="divTituloBloco espacamentoBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img src="/assets/img/Site/Refrigeracao/icones/contato.svg">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">Contato</label>
                    </div>
                </div>
                <div>
                    
                        <label class="fontLight texto">0800 644 2362 (telefonia fixa)</label>
                        <label class="fontLight texto">(11) 3383-5776 (celular e demais localidades)</label>
                        <label class="fontLight texto">Horário de atendimento: 2ª a 6ª das 08h as 18h (exceto feriados)</label>

                        <!-- automacao@elgin.com.br -->
                        <!-- <br>11 3383-5989 -->
                    
                </div>
                <div>
                    <a class="btn btn-detalhe fontPrincipal fontExtraLight" href="https://elginbematech.com.br/chamado">
                
                        <input  class="saibaMais" type="button" value="Abrir chamado" >
                </a>
                </div>
            </div>
            <div class="divTituloBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img src="/assets/img/Site/Home/icons/chat.png">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">Chat</label>
                    </div>
                </div>
                <div>
                    <label class="fontLight texto" style="max-width: 166px;">
                        Clique aqui e converse com um dos nossos atendentes online.
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 bloco text-center">
            <div class="divTituloBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img style="height: 42px;" src="/assets/img/Site/Automacao/assistencia-tecnica.png">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">Assistência Técnica</label>
                    </div>
                </div>
                <div>
                    <label class="fontLight texto" style="margin-bottom: 20px;">
                        Encontre a autorizada<br>mais próxima de você.
                    </label>
                </div>
                <div class="divAssistencia">
                    <div style="margin-left: 10px">
                        <!-- <select [(ngModel)]="idSublinha" class="fontPrincipal fontLight texto select-preto"
                            (change)="buscaAssistencias()">
                            <option value="">Sub Linha</option>
                            <option *ngFor="let sublinha of sublinhas" [value]="sublinha.id">
                                {{sublinha.nomeSubLinha | titlecase}}
                            </option>
                        </select> -->
                        <!-- (change)="carregarLinha($event.target.value)" -->
                
                            {{'Automação'| titlecase}}
               
                    </div>
                    <!-- <div style="margin-left: 10px">
                        <select [(ngModel)]="uf" class="fontPrincipal fontLight texto select-preto"
                            (change)="carregarCidades($event.target.value);buscaAssistencias()">
                            <option value="">Estado</option>
                            <option *ngFor="let estado of estados" [value]="estado.Cod">{{estado.Nome | titlecase}}
                            </option>
                        </select>
                    </div> -->
                    <div style="margin-left: 10px">
                        <select [(ngModel)]="uf" class="fontPrincipal fontLight texto select-preto"
                            (change)="carregarCidades($event.target.value); carregarEstado($event.target.value)">
                            <option value="">Estado</option> 
                            <option value="1">Acre</option>
                            <option value="2">Alagoas</option>
                            <option value="4">Amapá</option>
                            <option value="3">Amazonas</option>
                            <option value="5">Bahia</option>
                            <option value="6">Ceará</option>
                            <option value="7">Distrito Federal</option>
                            <option value="8">Espírito Santo</option>
                            <option value="9">Goiás</option>
                            <option value="10">Maranhão</option>
                            <option value="11">Mato Grosso</option>
                            <option value="12">Mato Grosso Do Sul</option>
                            <option value="13">Minas Gerais</option>
                            <option value="14">Pará</option>
                            <option value="15">Paraíba</option>
                            <option value="18">Paraná</option>
                            <option value="16">Pernambuco</option>
                            <option value="17">Piauí</option>
                            <option value="19">Rio De Janeiro</option>
                            <option value="20">Rio Grande Do Norte</option>
                            <option value="23">Rio Grande do Sul</option>
                            <option value="21">Rondônia</option>                 
                            <option value="22">Roraima</option>
                            <option value="24">Santa Catarina</option>
                            <option value="26">São Paulo</option>
                            <option value="25">Sergipe</option>
                            <option value="27">Tocantins</option>
                                  <!-- <option *ngFor="let estado of estados" [value]="estado.Cod">{{estado.Nome | titlecase}}
                            </option> -->
                        </select>
                    </div>
                    <!-- <div style="margin-left: 10px">
                        <select [(ngModel)]="cidade" class="fontPrincipal fontLight texto select-preto"
                            (change)="buscaAssistencias()">
                            <option value="">Cidade</option>
                            <option *ngFor="let cidade of cidades" [value]="cidade.Cod">{{cidade.Nome | titlecase}}
                            </option>
                        </select>
                    </div> -->
        <div style="margin-left: 10px">
                <select [(ngModel)]="cidade" class="fontPrincipal fontLight texto select-preto"
                (change)="carregarCidade($event.target.value);postBuscaAssistenciasSuccess()">
                    <option value="">Cidade</option>
                    <option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.descricao | titlecase}}</option>
                </select>
            </div>
                    <div class="espacamentoItens borderCima">
                        <app-site-assistencia [assistencias]="listaAssistentes"></app-site-assistencia>
                    </div> 
                    <div>
                        <a class="btn btn-detalhe fontPrincipal fontExtraLight" href="https://elginbematech.com.br/chamado">
                    
                            <input  class="saibaMais" type="button" value="Abrir chamado" >
                        
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>