.check-especial:checked,
.check-especial:not(:checked) {
    position: absolute;
    left: -9999px;
}
.check-especial:checked + label,
.check-especial:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.check-especial:checked + label:before,
.check-especial:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.check-especial:checked + label:after,
.check-especial:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #40bEFF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.check-especial:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.check-especial:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.fontProduto{
    font-family: fontPrincipal;
    font-size: 34px;
    color: #40bEFF;
}

.hide{
    display: none;
}

.voltar{
    font-family: fontPrincipal;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 40px;
    cursor: pointer;
}

::ng-deep .modalGrupoUsuario{
    top:75px;
    z-index: 1060 !important;
}

.foto {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .sigla {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    font-family: fontPrincipal;
    line-height: 34px;
    padding-left: 3px;
  }

  
/* width */
.boxGrupoPessoas::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .boxGrupoPessoas::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  .boxGrupoPessoas::-webkit-scrollbar-thumb {
    background: #DDDCDC; 
  }
  
  /* Handle on hover */
  .boxGrupoPessoas::-webkit-scrollbar-thumb:hover {
    background: #DDDCDC; 
  }

  label{
      font-family: fontPrincipal;
  }