<div class="container">
    <div class="row menuSubsite" style="margin-top:30px">
        <div class="col-sm-2">
            <div class="row" style="margin-top:50px">
                <div class="col-sm-12 divItens">
                    <a class="sidebarLinha" routerLink="/PortaldeApoio/Adm/Subsite/Solar"
                        class="fontSecundaria fontRegular" style="font-size:15px;">
                        Solar
                    </a>
                </div>
                <div class="col-sm-12 divItens">
                    <a class="sidebarLinha" routerLink="/PortaldeApoio/Adm/Subsite/Gelatta"
                        class="fontSecundaria fontRegular" style="font-size:15px;">
                        Gelatta
                    </a>
                </div>
                <div class="col-sm-12 divItens">
                    <a class="sidebarLinha" routerLink="/PortaldeApoio/Adm/Subsite/Automacao"
                        class="fontSecundaria fontRegular" style="font-size:15px;">
                        Automação
                    </a>
                </div>
                <div class="col-sm-12 divItens">
                    <a class="sidebarLinha" routerLink="/PortaldeApoio/Adm/Subsite/Refrigeracao"
                        class="fontSecundaria fontRegular" style="font-size:15px;">
                        Refrigeração
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>