.divLista{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.espacamentoAssistencia{
    padding-bottom: 20px;
}

label {
    margin: 0 0;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    height: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4; 
  }