<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 50px;">
            <app-titulo-secoes-produto cor="#008EB8" de="#3FEFFC" ate="#1579DE" titulo="Vídeos em Destaque">
            </app-titulo-secoes-produto>

            <div class="row">
                <div class="col-sm-12">
                    <input style="margin: 0 0 25px;" type="button" class="btn-adc" value="Adicionar Vídeo"
                        (click)="adicionarVideoHome()">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div *ngIf="videosHome.length">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let video of videosHome; let i = index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span class="fontSecundaria fontLight" style="font-size:15px;">
                                            {{video.tituloVideo}}
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="row">
                                    <div class="col-sm-11 form-group">
                                        <label class="control-label fontSecundaria">Título</label>
                                        <input class="form-control" type="text" [(ngModel)]="video.tituloVideo"
                                            maxlength="150">
                                    </div>
                                    <div class="col-sm-1 form-group">
                                        <i class="fas fa-trash-alt" style="cursor:pointer;"
                                            (click)="removerVideoHome(i)"></i>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label class="control-label fontSecundaria">Descrição</label><br>
                                        <textarea class="form-control" [(ngModel)]="video.descricaoVideo"
                                            maxlength="250"></textarea>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label class="control-label fontSecundaria">Link</label><br>
                                        <input class="form-control" maxlength="250" type="text"
                                            [(ngModel)]="video.linkVideo">
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label class="control-label fontSecundaria">Ordem</label><br>
                                        <input class="form-control" type="number" [(ngModel)]="video.ordem">
                                    </div>
                                    <div class="col-sm-3 form-group">
                                        <label class="control-label fontSecundaria">Ativo</label><br>
                                        <input type="checkbox" [(ngModel)]="video.ativo">
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 divSalvar">
        <input class="btn-adc" type="button" value="Salvar" (click)="salvar()">
    </div>
</div>