<div class="col-md-12" style="padding: 14px 30px 30px;">
    <ul class="fontSecundaria fontLight" style="font-size:17px">
        <li routerLink="/SaibaMais/GrupoElgin">O Grupo Elgin</li>
        <hr>
        <li routerLink="/SaibaMais/Marca">A Marca</li>
        <hr>
        <li routerLink="/SaibaMais/Estrutura">Estrutura</li>
        <hr>
        <li routerLink="/SaibaMais/Exportacoes">Exportações</li>
        <hr>
        <li routerLink="/SaibaMais/Certificacoes">Certificações</li>
        <hr>
        <li routerLink="/SaibaMais/Politica">Política de Qualidade</li>
        <hr>
        <li routerLink="/SaibaMais/ElginNews">Elgin News</li>
        <hr>
        <li routerLink="/SaibaMais/HomeOffice">Home & Office</li>
        <hr>
        <li routerLink="/SaibaMais/Informatica">Informática</li>
        <hr>
        <li routerLink="/SaibaMais/refrigeracao">Refrigeração</li>
        <hr>
        <li routerLink="/SaibaMais/Automacao">Automação Comercial</li>
    </ul>
</div>