::ng-deep .card {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  word-wrap: normal;
}

::ng-deep .card-header {
  background-color: transparent;
  text-align: left;
  word-wrap: normal;
  border: 0;
  padding: 0;
}

::ng-depp .card-body {
  padding: 0px;
}

::ng-deep .btn-link {
  font-size: 16px;
  font-family: fontPrincipal;
  font-weight: 300;
  word-wrap: normal;
  word-break: keep-all;
}

.liProduto {
  line-height: 15px;
  padding: 0 0 15px;
}
.ulProduto {
  list-style-type: none;
  padding: 0;
}

.sidebarCategoria {
  font-size: 15px;
}

.aSidebar {
  font-size: 14px;
}

.mat-expanded span {
  color: #77dffe;
  font-weight: 500;
}

.mat-expansion-panel-spacing {
  margin: 0 0;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 24px !important;
}

::ng-deep .mat-expansion-panel {
  border-bottom: 1px solid #e9e9e9;
  border-radius: 0px;
  color: #7e7e7e;
}
.lblProd {
    font-size: 24px;
    display: block;
    margin-bottom: 20px;
}
.ulProduto {
    padding-right: 30px;
}
.lnkProd {
    cursor: pointer;
    padding: 0 20px 10px 0;
    font-size: 15px;
    border-bottom: 1px solid #e9e9e9;
    display: block;
    text-transform: capitalize;
}
