<app-banner-home [podeEditar]="false" codigoBanner="Site-Gelatta" [banners]="banner" [banners2]="banner2">
</app-banner-home>
<div class="container" style="padding: 30px 15px" *ngIf="isBrowser">
    <app-site-lucro-sorvete></app-site-lucro-sorvete>
</div>
<div style="margin-top: 10px;" class="imgBannerSorvete">
</div>
<div class="container" style="padding: 0 15px">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-12 text-center">
            <h1 class="tituloGelatta tituloLinha fontPrincipal fontLight">A linha mais completa do mercado</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="row rowLegendas">
                <div class="col-sm-6 text-center" style="margin: auto;">
                    <label class="tituloMobileMaquina tituloExpresso fontPrincipal fontLight">Gelatta Expresso</label>
                    <img class="imgMaquina" src="/assets/img/Site/Gelatta/maquina-expresso.png" alt>
                </div>
                <div class="col-sm-6 colLegendas">
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/img-casquinha.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Capacidade produtiva de 150 casquinhas por hora
                        </label>
                    </div>
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/touch-screen.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Painel digital touch screen de fácil operação
                        </label>
                    </div>
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/design-compacto.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Disponível no modelo de bancada com design compacto
                        </label>
                    </div>
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/batedor-inox.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Batedor de aço Inox
                        </label>
                    </div>
                </div>
            </div>
            <hr class="linhaDesk">
            <div class="row rowLegendas">
                <div class="col-sm-6 text-center mobileImg" style="margin: auto;">
                    <label class="tituloMobileMaquina tituloSoft fontPrincipal fontLight">
                        Gelatta soft E1 <br>E Gelatta soft E2
                    </label>
                    <img class="imgMaquina" src="/assets/img/Site/Gelatta/maquina-soft.png" alt>
                </div>
                <div class="col-sm-6 colLegendas">
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/img-casquinha.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Capacidade produtiva de 200 casquinhas por hora
                        </label>
                    </div>
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/contador-sorvete.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Contador de sorvete no painel
                        </label>
                    </div>
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/conserva-calda.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Conservação da calda em modo stand by
                        </label>
                    </div>
                    <div class="divLegenda">
                        <div class="divIcones">
                            <img class="imgIcones" src="/assets/img/Site/Gelatta/tensao-eletrica.svg" alt>
                        </div>
                        <label class="lblLegendaIcone fontLight fontPrincipal">
                            Indicador de tensão elétrica
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 text-center deskImg" style="margin: auto;">
                    <img class="imgMaquina" style="max-height: 450px;" src="/assets/img/Site/Gelatta/maquina-soft.png" alt>
                </div>
            </div>
            <hr class="linhaDesk">
            <div class="row rowLegendasNoBorder">
                <div class="col-sm-6 text-center deskImg" style="margin: auto;">
                    <img style="max-width: 100%;" src="/assets/img/Site/Gelatta/insumos.png" alt>
                </div>
                <div class="col-sm-6 colLegendas">
                    <div class="">
                        <h1 class="tituloGelatta tituloSorveteAcai fontPrincipal fontLight">SORVETE DE AÇAÍ, WHEY E ZERO
                            LACTOSE</h1>
                        <label class="lblTexto fontLight fontPrincipal">
                            As máquinas de sorvete Gelatta são versáteis e tem a capacidade de produzir diferentes tipos
                            de sorvetes como Açaí, Whey e Zero Lactose. A calda de sorvete deve ter proporções ideias de
                            gordura, açúcares, emulsificante e liga neutra para uma produção ideal de sorvete soft.
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 text-center mobileImg" style="margin: auto;">
                    <img style="max-width: 100%;" src="/assets/img/Site/Gelatta/insumos.png" alt>
                </div>
            </div>
        </div>
    </div>
    <hr class="linhaDesk" style="margin-top: 20px; margin-bottom: 50px;">
    <app-site-carrossel-gelatta></app-site-carrossel-gelatta>
    <div id="PerguntasFrequentes">
        <div class="text-center">
            <h1 class="titlePerguntas fontPrincipal fontThin">Perguntas Frequentes</h1>
            <label class="subTitlePerguntas fontPrincipal fontLight">
                Está com dúvida? Entre em contato com um de nossos atendentes.
            </label>
        </div>
        <div style="margin-top:50px;">
            <ng-container *ngFor="let info of perguntasFrequentes">
                <ul class="col-md-10" style="margin: 10px auto;">
                    <li>
                        <a class="divPergunta" data-toggle="collapse" aria-expanded="false" [href]="['#id' + info.id]"
                            (click)="alterarIcone(info.id)">
                            <label class="fontPrincipal fontLight" [innerHtml]="info.pergunta">
                                {{info.pergunta}}
                            </label>

                            <i [id]="['btn' + info.id]" class="btnToggle fas fa-plus"></i>
                        </a>

                        <ul class="collapse" [id]="'id' + info.id" style="padding-left:0;">
                            <li>
                                <p class="lblResposta fontPrincipal fontLight" [innerHtml]="info.resposta">
                                </p>
                            </li>
                        </ul>
                    </li>
                    <hr>
                </ul>
            </ng-container>
        </div>
    </div>
</div>

<div class="divAssistencia" style="margin-top:70px">
    <div class="divBgOpaco">
        <div class="divTextoAssistencia" style="margin: auto 0;">
            <h1 class="tituloAssistencia fontPrincipal fontLight">Assistência técnica em todo Brasil</h1>
            <label class="lblAssistencia fontPrincipal fontLight">
                Contamos com uma equipe de profissionais qualificados e a pronta disposição para atende-lo em todo o
                Brasil.
            </label>
            <div class="divImgIconContato">
                <div>
                    <img class="imgIconeTelefone" src="/assets/img/Site/Gelatta/icon-telefone.svg" alt>
                    <label class="lblInfoAssistencia fontPrincipal fontBold">
                        0800 771 1960
                    </label>
                </div>
                <div class="divContatoEmail">
                    <img class="imgIconeEmail" src="/assets/img/Site/Gelatta/icon-email.svg" alt>
                    <label class="lblInfoAssistencia fontPrincipal fontBold">
                        gelatta@elgin.com.br
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>