<ng-template #contentImagem let-modal>
    <div class="modal-header modal-header-visualizar-video container">
        <div>
            <label class="tituloModal">Visualizar Vídeo</label>
            <button type="button" class="close" aria-label="Close" (click)="close()" style="border:0px;outline: 0px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <ng-container>
        <div class="modal-body container">
            <div class="col-sm-12 text-center" style="margin: 0 auto">
                    <iframe width="560" height="315" [src]="url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </ng-container>
</ng-template>