<div class="container">
    <div class="fontPrincipal fontLight text-center">
        <label class="titulo">SUGESTÕES</label>
        <div class="col-sm-4" style="margin:auto">
            <div class="module-border-wrap"></div>
        </div>
        <p class="text-center">
            Preencha os campos abaixo e nos diga qual é a sua solicitação de melhoria.
            <br>
            Solicitações de manutenção e dúvidas devem ser feitas através do <u>Elgin Service Desk</u>.
        </p>
    </div>
    <form [formGroup]="form" class="form">
        <div class="row">
            <div class="col-sm-12">
                <app-custom-input [form]="form" id="sugestao" errorMessage="Campo Obrigatório" label="Solicitação" labelClass="control-label fontSecundaria fontLight">
                    <textarea formControlName="sugestao" class="form-control"></textarea>
                </app-custom-input>
            </div>
        </div>
        <div class="fontPrincipal fontLight text-center">
            <a class="btn btn-circle" (click)="enviarSugestao()">Enviar</a>
        </div>
    </form>
</div>