.ul{
    list-style-type: none;
    padding: 0;
    padding-left: 50px !important;
}

::ng-deep .mat-expansion-panel{
    border-bottom: 1px solid #e9e9e9;
    border-radius: 0px;
    color: #7E7E7E;
}

.ul [type="checkbox"]:checked,
.ul [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.ul [type="checkbox"]:checked + label{
    position: relative;
    cursor: pointer;
    line-height: 13px;
    display: inline-block;
    color: #1579DE;
}
.ul [type="checkbox"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 13px;
    display: inline-block;
    color: #222;
}
.ul [type="checkbox"]:checked + label:before,
.ul [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 190px;
    top: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #ddd;
    background: #fff;
}
.ul [type="checkbox"]:checked + label:after,
.ul [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #1579DE;
    position: absolute;
    top: 3px;
    left: 193px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ul [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.ul [type="checkbox"]:checked + label:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
