.nav-link:hover {
    color: #22899a !important;
}

.contato .nav-link:hover{
    color: #212529 !important;
}

.fontSubMenu {
    font-size: 13px;
}

#navbar2 {
    /*padding-top: 83px; comentar caso fixar a barra do header */
    background: #fff;
    padding: 83px 0 0 0;
    position: static;
}

.navRefrigeracao{
    padding-left: 0;
}

#navbar2 .nav-link, #navbar2 .contato-nav-link {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    text-align: center;
}

li {
    display: block;
}

li:hover {
    cursor: pointer;
}

ul li ul.sub-menu {
    position: absolute;
    left: 0;
    /* top: 130px; */
    text-align: center;
    background: #FFF;
    width: 100% !important;
    display: none;
    box-shadow: none !important;
    z-index: 9999999;
    padding: 20px 0 10px;
    justify-content: center;
}

ul li:hover ul.sub-menu {
    /* visibility: visible; */
    opacity: 1;
    flex-wrap: wrap;
    /* justify-content: center!important; */
    display: flex !important;
}

/* .active-link {
    pointer-events: none !important;
} */

ul.sub-menu:hover {
    visibility: visible;
}

ul li ul.sub-menu li {
    display: inline-block;
    float: none;
    width: 100%;
    max-width: 120px;
}

.img-menu {
    width: 100px;
    height: 100px;
    display: block;
    /* padding-bottom: 10px; */
    margin: 0 auto !important;
}

.img-produto{
    width: auto;
}

.span-menu {
    font-size: 10px;
    line-height: 15px;
    font-weight: 300;
    vertical-align: text-top;
}

.link-sub-menu:hover .span-menu {
    color: #22899a !important;
}

.imagenet-botoes-top {
    width: 250px;
    transform: translateX(-83px);
    height: auto;
    background: #FBFBFB;
    position: absolute;
    top: 132px;
    z-index: 100;
    border: 0.5px solid #DDD;
    border-top: none !important;
}

.imagenet-botoes-top div {
    width: 100%;
    padding: 14.5px 0;
    text-align: center;
    transition: 0.2s;
    opacity: 1;
}

.imagenet-botoes-top a {
    color: #337ab7;
    font-size: 14px;
    transition: 0.4s;
    font-family: fontPrincipal;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    padding: 10px 55px;
}

.imagenet-botoes-top div:hover {
    background: #FFF;
    opacity: 1;
}

.imagenet-botoes-top div:hover a, .imagenet-botoes-top a:hover {
    color: #045ab7
}

/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.imgClick{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
}

@media (max-width: 1199px) {
    #navbar2 .nav-link {
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 20px;
    }
}

@media (max-width: 991px) {
    ul li:hover ul.sub-menu {
        display: none !important;
    }
    #navbar2 .nav-link {
        padding-left: 28px;
    }
}

@media(max-width: 575px){
    #navbar2{
        padding-top: 70px;
    }
}

.container {
    padding: 0;
    text-align: center;
}

.queroComprar{
    margin-left: auto;
}

.btnQueroComprar{
    color: white !important;
    width: 175px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #006198;
    font-family: fontPrincipal;
    outline:none !important;
}
