<ng-template #content let-modal>
    <div class="modal-header modal-header-site-aparelho-ideal container">
    <div class="row">
        <!-- <button type="button" class="close" aria-label="Close" (click)="close()" style="border:0px;outline: 0px;">
            <span aria-hidden="true">&times;</span> 
        </button> -->
        <!-- <app-titulo-secoes-produto cor="#008EB8" altura2="0px"  altura="0px" fonte="41px" titulo="POLÍTICA DE PRIVACIDADE E PROTEÇÃO DE DADOS">
        </app-titulo-secoes-produto> -->
        <div class="col-sm-12 ">
        <p>
            <strong>Elgin:</strong>  Utilizamos cookies para a personalização de anúncios e experiências de navegação dentro de nosso site.<br>
            Ao continuar navegando, você concorda com as nossas <a href="https://www.elgin.com.br/politica_de_privacidade" >Política de Privacidade.</a> <p>
            </p>
            
                
                     <input  class="btnAssistente" type="button" value="continuar e fechar" (click)="close()">
             <!-- <img class="banner" src="/assets/arquivos/Pop_Up_Summit_Bematech.jpg" alt> -->
              
             </div>
        
    </div>
</div>
</ng-template>