.table-striped tbody tr:nth-of-type(odd){
    background-color: #f2f7f8;
}

th {
    border-top: none;
}

.headerTabela{
    font-family: fontPrincipal;
    font-weight: 200;
    font-size: 13px;
}

.conteudoTabela{
    font-family: fontPrincipal;
    font-weight: 200;
    font-size: 15px;
}

.textoBtn{
    font-family: fontPrincipal;
    font-weight: 500;
    font-size: 17px;
    padding-left: 25px;
    cursor: pointer;
}
.textoBtn:hover{
    text-decoration: none;
}

.textoBtn i, .textoBtn span{
    color: #40beff;
}


/* Customização para paginação */
.custom-pagination{
    text-align: center;
}
.custom-pagination .page-number{
    display: inline-block;
    padding: 5px 12px;
    background: #40beff;
    margin: 0px 4px;
    border-radius: 25px;
    color: #ffffff;
}

.page-number.current{
    background: #ffffff!important;
    border: 2px solid #40beff;
    color: #40beff !important;
}

.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
    font-family: fontPrincipal;
    font-weight: 300;
}

.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.span-next{
    color: #40beff;
    position: absolute;
    bottom: 3px;
    margin-left: 15px;
    font-size: 25px;
}

.span-previous{
    color: #40beff;
    bottom: 3px;
    margin-right: 15px;
    font-size: 25px;
}



