.banner{
    position: relative;
    text-align: right !important;
    color: white;
    padding-bottom: 90px;
}

.imagem{
    width: 100%;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    cursor: pointer;
    outline: none;
}

a{
    text-decoration: none;
    color: #222222;
}

.titleRelacionados{
    padding: 15px 0 60px;
}

@media (max-width: 575px) {

    .titleRelacionados{
        padding: 10px 0 30px;
    }

    .col-12{
        padding: 0;
    }

    .divRelacionados{
        margin-right: 0;
        margin-left: 0;
    }
}

.postContainer{
    max-width: 719px;
    margin: 0 auto;
}