.input-busca{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    width: 100%;
    padding: 5px 20px;
    color: #9A9A9A;
    background-image: url('/assets/icones/search.png');
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    outline: none;
    font-family: fontPrincipal;
    max-width: 500px;
}
.input-busca::placeholder{
    color: #9A9A9A;
    padding: 0px;
    font-family: fontPrincipal;
}

.resultadoBusca{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 8px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    z-index: 9999 !important;

    border: solid 1px #aaa;
    color: #222222;
}

.itemResultado{
    padding: 10px 0px;
    margin-left: 30px;
    margin-right: 20px;
    border-bottom: 1px solid #aaa;
    height: 70px;
    cursor: pointer;
}

.itemResultado label{
    cursor: pointer;
}

.itemResultado img{
    max-height: 50px;
    padding-right: 30px;
}

@media (max-width: 767px) {
    .inputBusca{
        width: 100%;
        font-size: 28px;
    }
    
    .inputBusca::placeholder{
        font-size: 28px;
    }
}

@media (max-width: 575px) {
    .inputBusca{
        margin-top: 35px;
    }
}