<div class="collapse navbar-collapse menuMobile menu" [ngClass]="{ 'show': navbarOpen }">
  <ul class="navbar-nav" style="width: 100%;">
    <li class="nav-item tituloSecao">Refrigeração</li>
    <li class="nav-item">
      <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/Refrigeracao/Home/To/Segmentos/']">
        {{'Mercados' | translate}}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleProdutos()">
        {{'Produtos' | translate}} <i class="fas fa-chevron-down" style="columns: #222222;;"></i>
      </a>
      <div class="" *ngIf="produtosOpen">
        <div *ngFor="let sublinha of sublinhas" class="nav-link2">
          <a class="nav-link" (click)="toggleNavbar();toggleProdutos()"
            [routerLink]="['/Produtos/refrigeracao/' + sublinha.codigoSubLinha ]">{{sublinha.nomeSubLinha}}</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/refrigeracao/Treinamentos']">
        {{'Treinamentos' | translate}}
      </a>
    </li>
    <li  class="nav-item">
      <a (click)="toggleNavbar()" class="nav-link"
          href="http://www.realworks.com.br/elgin/cargatermica_v2/index2.php?lang=BR">
          {{'Aplicativo' | translate }}
      </a>
  </li>
    <li class="nav-item">
      <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/refrigeracao/Cases']">
        {{'Cases' | translate}}
      </a>
    </li>
    <li class="nav-item">
      <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/refrigeracao/Home/To/DownloadCenter/']">
        {{'Download Center' | translate}}
      </a>
    </li>
    <li class="nav-item">
      <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/refrigeracao/Contato']">
        {{'Contato' | translate}}
      </a>
    </li>
    <li class="nav-item idioma" style="margin-bottom: 50px;">
      <div class="bandeira" [ngClass]="idioma == 'pt' ? 'br' : (idioma == 'en' ? 'eng' : 'esp')"></div>
      <div>
        <select class="select-preto" [(ngModel)]="idioma" (change)="changeLanguage()">
          <option value="pt">
            {{'Portugues' | translate}}
            <img src="/assets/img/Site/Automacao/clickP.jpg">
          </option>
          <option value="en">
            {{'Ingles' | translate}}
          </option>
          <option value="es">
            {{'Espanhol' | translate}}
          </option>
        </select>
      </div>
    </li>
    <li class="nav-item tituloSecao">Elgin</li>
    <li class="nav-item" *ngIf="linhasCompletas">
      <a class="nav-link" (click)="toggleLinha()">Linhas <i class="fas fa-chevron-down"
          style="columns: #222222;;"></i></a>
      <div class="" *ngIf="linhaOpen">
        <ng-container *ngFor="let linha of linhasCompletas">
          <div *ngIf="linha.codigoLinha != 'Refrigeracao'" class="nav-link2">
            <a class="nav-link" (click)="linha.showMobile = !linha.showMobile">{{linha.nomeLinha}} <i
                class="fas fa-chevron-down" style="columns: #222222;;"></i></a>
            <div class="" *ngIf="linha.showMobile">
              <div *ngFor="let sublinha of linha.subLinhas" class="nav-link3">
                <a class="nav-link" (click)="toggleNavbar()"
                  [routerLink]="['/Produtos/' + linha.codigoLinha + '/' + sublinha.codigoSubLinha ]">{{sublinha.nomeSubLinha}}</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </li>
    <li class="nav-item" *ngFor="let menu of menus">
      <a class="nav-link" [routerLink]="[menu.rota]"> {{menu.nome}}</a>
    </li>
    <li style="padding-bottom: 10px;">
      <input (keyup.enter)="pesquisarProduto()" [(ngModel)]="txtPesquisa" class="input-mobile" placeholder="Pesquisar"
        type='text'>
      <img (click)="pesquisarProduto()" src="/assets/icones/search.png" style="padding-left:14px">
    </li>
  </ul>
</div>