.imagemCarrossel {
  display: block;
  margin: 0 auto 0 auto;
  /* width: 100%; */
  height: 200px;
  max-width: 100%;
  cursor: pointer;
}

::ng-deep .carousel-control-prev-icon {
  background-image: url('/assets/icones/seta_esq.png') !important
}

::ng-deep .carousel-control-next-icon {
  background-image: url('/assets/icones/seta_dir.png') !important
}

/* #carrosselProduto .active .ng-star-inserted {
   background-color: black !important;
 } */

 ::ng-deep #carrosselProduto .carousel-indicators .active {
  background-color: #C4C4C4 !important;
}

::ng-deep #carrosselProduto .carousel-indicators li {
  background-color: white !important;
  width: 6px !important;
  height: 6px !important;
  border: 1px solid #C4C4C4 !important;
  -webkit-border-radius: 25px !important; 
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
  opacity: 1 !important;
}

::ng-deep #carrosselProduto .carousel-indicators {
  margin-bottom: -20px !important;
}