<div class="container mt-5 pb-3">
    <h4 class="fontPrincipal fontLight text-center" style="color: #3FEFFC;background:linear-gradient(to right, '#3FEFFC', '#1579DE')">ELGIN UP</h4>
</div>
<div class="container" >
    <div class="margin-auto fontLight fontPrincipal ml-5">
        <p>A URL do ambiente de produção da nossa plataforma comercial, a Elgin Up, já está disponível para acessos.</p>
        <p>Para utilizá-la, acesse 
            <a target="_blank" rel="noopener noreferrer" href="https://elginup.elgin.com.br">https://elginup.elgin.com.br</a>. 
            Recomendamos que o acesso seja feito por meio do navegador Google Chrome.</p>
        <p>Em caso de dúvidas ou problemas, abra um chamado no nosso Service Desk para que possamos resolvê-lo o mais breve possível. Há uma equipe preparada para atender e solucionar os incidentes de forma rápida e assertiva.</p>
        <p>Atenciosamente,<br>Tecnologia da Informação</p>
    </div>
</div>