<div class="row" style="margin-bottom:50px" *ngIf="sublinha">
    <div class="col-sm-12">
        <app-titulo-secoes-produto cor="#008EB8" de="#3FEFFC" ate="#1579DE" titulo="Informações da Sublinha">
        </app-titulo-secoes-produto>
    </div>
    <form [formGroup]="formSublinha" class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <app-custom-input [form]="formSublinha" errorMessage="Campo Obrigatório" label="Nome da Sublinha"
                    labelClass="control-label fontSecundaria" id="nomeSubLinha">
                    <input class="form-control" formControlName="nomeSubLinha" type="text" maxlength="50">
                </app-custom-input>
            </div>
            <div class="col-sm-6">
                <app-custom-input [form]="formSublinha" errorMessage="Campo Obrigatório" label="Código da Sublinha"
                    labelClass="control-label fontSecundaria" id="codigoSubLinha">
                    <input class="form-control" formControlName="codigoSubLinha" type="text" maxlength="50">
                </app-custom-input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-custom-input [form]="formSublinha" errorMessage="Campo Obrigatório" label="Linha"
                    labelClass="control-label fontSecundaria" id="idLinha">
                    <select class="form-control" formControlName="idLinha" (change)="selecionarLinha($event.target.value)">
                        <option value="">- Selecione -</option>
                        <option *ngFor="let linha of linhas" [value]="linha.id">
                            {{linha.nomeLinha | titlecase}}
                        </option>
                    </select>
                </app-custom-input>
            </div>
            <div class="col-sm-2">
                <app-custom-input [form]="formSublinha" errorMessage="Campo Obrigatório" label="Ordem"
                    labelClass="control-label fontSecundaria" id="ordem">
                    <input class="form-control" formControlName="ordem" type="number">
                </app-custom-input>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label fontSecundaria">Ativo</label><br />
                    <input class="" type="checkbox" formControlName="ativo">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label fontSecundaria">Possui Filtro de Pilha?</label><br />
                    <input class="" type="checkbox" formControlName="possuiFiltroPilha">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label fontSecundaria">Imagem de Apresentação</label><br />
                    <app-upload-file #upImgSublinha [justImages]="true" [idPai]="'imgAprensentacao_' + sublinha.id"
                        caminho="imgSubLinha" (resposta)="getRespostaArquivo($event)">
                    </app-upload-file><br />
                    <ng-container *ngIf="sublinha.caminhoImagem">
                        <label class="control-label fontSecundaria">Aviso: a imagem será exibida com o formato abaixo no
                            menu de sublinhas do site.</label><br />
                        <img class="img-exemplo" [src]="sublinha.caminhoImagem" alt>
                    </ng-container>
                </div>
            </div>
        </div>
    </form>
    <div class="col-sm-12" style="margin-top: 34px;">
        <app-titulo-secoes-produto cor="#008EB8" de="#3FEFFC" ate="#1579DE" titulo="Apresentação de Sublinha">
        </app-titulo-secoes-produto>

        <div class="row" style="margin-bottom: 16px;">
            <div class="col-sm-12">
                <label class="control-label fontSecundaria">Banner de Alta Resolução</label><br />
                <app-upload-file #upBanner [idPai]="'banner_' + sublinha.id" [justImages]="true" caminho="Site-Sublinha"
                    (resposta)="getRespostaBanner($event)">
                </app-upload-file><br />
                <ng-container *ngIf="sublinha.banner.caminho">
                    <div class="fontAbreImagem" (click)="abreVisualizarImagem(sublinha.banner.caminho)">
                        <span> Visualizar Imagem</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-sm-12">
                <label class="control-label fontSecundaria">Banner de Baixa Resolução</label><br />
                <app-upload-file #upBanner2 [justImages]="true" [idPai]="'banner2_' + sublinha.id" caminho="Site-Sublinha"
                    (resposta)="getRespostaBanner2($event)">
                </app-upload-file><br />
                <ng-container *ngIf="sublinha.banner2.caminho">
                    <div class="fontAbreImagem" (click)="abreVisualizarImagem(sublinha.banner2.caminho)">
                        <span> Visualizar Imagem</span>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="row">
            <div class="divCheckbox">
                <input id="checkAparelhoIdeal" class="checkBox" type="checkbox"
                    (change)="tratarExibicaoUrl('aparelho', $event.target.value)"
                    [(ngModel)]="sublinha.mostraAparelhoIdeal">
                <label for="checkAparelhoIdeal" class="control-label fontSecundaria">Exibir botão de Aparelho
                    Ideal</label>
            </div>

            <div class="divCheckbox">
                <input id="checkLink" class="checkBox" type="checkbox"
                    (change)="tratarExibicaoUrl('link', $event.target.value)" [(ngModel)]="sublinha.mostraLink">
                <label for="checkLink" class="control-label fontSecundaria">Exibir botão com link</label>
            </div>

            <div class="divCheckbox">
                <input id="checkRota" class="checkBox" type="checkbox"
                    (change)="tratarExibicaoUrl('rota', $event.target.value)" [(ngModel)]="sublinha.mostraRota">
                <label for="checkRota" class="control-label fontSecundaria">Exibir botão com rota para o site</label>
            </div>
            <div class="divCheckbox">
                <input id="checkPreco" class="checkBox" type="checkbox"
                   [(ngModel)]="sublinha.mostraPreco">
                <label for="checkPreco" class="control-label fontSecundaria">Exibir valores do produto</label>
            </div>
        </div>
        <ng-container *ngIf="!sublinha.mostraAparelhoIdeal && (sublinha.mostraRota || sublinha.mostraLink)">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label fontSecundaria">Texto Informativo</label>
                    <input class="form-control" type="text" [(ngModel)]="sublinha.textoInformativo" maxlength="100">
                </div>
            </div>
            <div class="row" style="margin-top: 16px;">
                <div class="col-sm-12">
                    <label class="control-label fontSecundaria">Texto do Botão</label>
                    <input class="form-control" type="text" [(ngModel)]="sublinha.textoBotao" maxlength="100">
                </div>
            </div>
            <div class="row" style="margin-top: 16px;">
                <div class="col-sm-12">
                    <label *ngIf="sublinha.mostraLink" class="control-label fontSecundaria">Link</label>
                    <label *ngIf="sublinha.mostraRota" class="control-label fontSecundaria">Rota</label>
                    <input class="form-control" type="text" [(ngModel)]="sublinha.textoUrl" maxlength="100">
                </div>
            </div>
        </ng-container>
    </div>

    <div class="col-sm-12" style="margin-top:50px">
        <app-titulo-secoes-produto cor="#008EB8" de="#3FEFFC" ate="#1579DE" titulo="Classificação">
        </app-titulo-secoes-produto>

        <div class="row">
            <div class="col-sm-12">
                <input style="margin-bottom: 25px;" type="button" class="btn-adc" value="Adicionar Classificação"
                    (click)="adicionarClassificacao()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div *ngIf="sublinha.classificacoes.length">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let class of sublinha.classificacoes;let i = index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="" class="fontSecundaria fontLight" style="font-size:15px;">
                                        {{class.nomeClassificacao}}
                                    </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Nome</label>
                                    <input class="form-control" type="text" [(ngModel)]="class.nomeClassificacao"
                                        maxlength="50">
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Ordem</label>
                                    <input class="form-control" type="text" [(ngModel)]="class.ordem"
                                        maxlength="50">
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Ativo</label><br>
                                    <input type="checkbox" [(ngModel)]="class.ativo">
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Expansivo</label><br>
                                    <input type="checkbox" [(ngModel)]="class.expansivo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input style="margin: 25px 0;" type="button" class="btn-adc" value="Adicionar Filho"
                                        (click)="adicionarFilho(i)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive" *ngIf="class.filhos.length">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th class="text-center">Comparativo</th>
                                                    <th class="text-center">Ativo</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let filho of class.filhos; let i2 = index">
                                                    <td>
                                                        <input class="form-control" type="text"
                                                            [(ngModel)]="filho.nomeClassificacao" maxlength="50">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="checkbox" [(ngModel)]="filho.comparativo">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="checkbox" [(ngModel)]="filho.ativo">
                                                    </td>
                                                    <td><i class="fas fa-trash-alt" style="cursor:pointer;" (click)="removeClassificacaoFilhos(i, i2)"></i>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top:50px">
        <app-titulo-secoes-produto cor="#008EB8" de="#3FEFFC" ate="#1579DE" titulo="Especificações Técnicas">
        </app-titulo-secoes-produto>

        <div class="row">
            <div class="col-sm-12">
                <input style="margin-bottom: 25px;" type="button" class="btn-adc" value="Adicionar Especificação"
                    (click)="adicionarEspec()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive" *ngIf="sublinha.especificacoes.length">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Código</th>
                                <th class="text-center">Comparativo</th>
                                <th class="text-center">Ativo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let espec of sublinha.especificacoes; let indexEspec = index">
                                <td>
                                    <input class="form-control" type="text" [(ngModel)]="espec.nomeEspecificacao"
                                        maxlength="100">
                                </td>
                                <td>
                                    <input class="form-control" type="text" [(ngModel)]="espec.codigoEspecificacao"
                                        maxlength="50">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" [(ngModel)]="espec.comparativo">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" [(ngModel)]="espec.ativo">
                                </td>
                                <td><i class="fas fa-trash-alt" style="cursor:pointer;" (click)="removeEspecificacao(indexEspec)"></i>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 divSalvar">
        <input class="btn-adc" type="button" value="Salvar" (click)="salvar()">
        <input *ngIf="linhaSelecionada == 'Refrigeracao'" class="btn-adc" type="button" value="Traduzir" (click)="abreTraducao()" style="margin-left: 10px;">
    </div>
</div>

<app-modal-visualizar-imagem></app-modal-visualizar-imagem>
<app-modal-traducao></app-modal-traducao>