<div class="collapse navbar-collapse menuMobile menu" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav" style="width: 100%;">
      <li class="nav-item tituloSecao">
        <a (click)="toggleNavbar()">
          <img class="img" src="/assets/img/Site/Gelatta/icon-gelatta.svg" [routerLink]="['/Gelatta/Home']">
        </a>
      </li>
      <li class="nav-item" *ngIf="linha">
        <a class="nav-link" (click)="toggleProdutos()">
          Produtos <i class="fas fa-chevron-down" style="columns: #222222;;"></i>
        </a>
        <div class="" *ngIf="produtosOpen">
            <div *ngFor="let sublinha of linha.subLinhas" class="nav-link2">
            <a class="nav-link" (click)="toggleNavbar()"
                [routerLink]="['/Produtos/' + linha.codigoLinha + '/' + sublinha.codigoSubLinha ]">{{sublinha.nomeSubLinha}}</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="togglePecas()">
          Peças de Reposição <i class="fas fa-chevron-down" style="columns: #222222;;"></i>
        </a>
        <ng-container *ngFor="let produto of produtos | orderBy: ['nomeProduto']">
          <div class="" *ngIf="pecasOpen">
            <div class="nav-link2">
              <a class="nav-link" (click)="toggleNavbar()"
                [routerLink]="['/Gelatta/PecasReposicao/' + produto.codigoProduto ]">{{produto.nomeProduto}}</a>
            </div>
          </div>
        </ng-container>
      </li>
      <li class="nav-item">
        <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/Gelatta/Home/To/PerguntasFrequentes/']">
          Perguntas Frequentes
        </a>
      </li>
      <li class="nav-item" style="margin-bottom: 50px;">
        <a (click)="toggleNavbar()" class="nav-link" [routerLink]="['/Gelatta/Carrinho']">
          Carrinho
        </a>
      </li>
      <li class="nav-item tituloSecao">Elgin</li>
      <li class="nav-item" *ngIf="linhasCompletas">
        <a class="nav-link" (click)="toggleLinha()">Linhas <i class="fas fa-chevron-down" style="columns: #222222;;"></i></a>
        <div class="" *ngIf="linhaOpen">
          <ng-container *ngFor="let linha of linhasCompletas">
            <div *ngIf="linha.codigoLinha != 'MaquinaSorvete'" class="nav-link2">
              <a class="nav-link" (click)="linha.showMobile = !linha.showMobile">{{linha.nomeLinha}} <i
                  class="fas fa-chevron-down" style="columns: #222222;;"></i></a>
              <div class="" *ngIf="linha.showMobile">
                <div *ngFor="let sublinha of linha.subLinhas" class="nav-link3">
                  <a class="nav-link" (click)="toggleNavbar()"
                    [routerLink]="['/Produtos/' + linha.codigoLinha + '/' + sublinha.codigoSubLinha ]">{{sublinha.nomeSubLinha}}</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </li>
      <li class="nav-item" *ngFor="let menu of menus">
        <a class="nav-link" [routerLink]="[menu.rota]"> {{menu.nome}}</a>
      </li>
      <li style="padding-bottom: 10px;">
        <input (keyup.enter)="pesquisarProduto()" [(ngModel)]="txtPesquisa" class="input-mobile" placeholder="Pesquisar"
          type='text'>
        <img (click)="pesquisarProduto()" src="/assets/icones/search.png" style="padding-left:14px">
      </li>
    </ul>
</div>