.modal-content {
    border-top: 0;
    border-radius: 0 !important;
}

.modelBackdrop {
    z-index: 1060 !important;
}

.modal-open {
    padding: 0 !important;
}

::ng-deep .modalAviso {
    z-index: 1061 !important;
}

::ng-deep .modalAviso .modal-dialog{
    max-width: 1140px;
}

.labelAviso{
    font-family: fontPrincipal;
}

.tituloModal{
    font-family: fontPrincipal;
    font-weight: 300;
    font-size: 28px;
    color: #48bcf7;    
    margin-bottom: 0;
    padding-left: 50px;
}

.modal-header-edit-aviso{
    display: block;
    text-align: center;
    border: 0;
}
