.check-especial:checked,
.check-especial:not(:checked) {
    position: absolute;
    left: -9999px;
}
.check-especial:checked + label,
.check-especial:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.check-especial:checked + label:before,
.check-especial:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.check-especial:checked + label:after,
.check-especial:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #40bEFF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.check-especial:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.check-especial:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.fontProduto{
    font-family: fontPrincipal;
}

.hide{
    display: none;
}

.voltar{
    font-family: fontPrincipal;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 40px;
    cursor: pointer;
}

.modalProduto{
    top:75px;
}