<div class="container">
    <div class="row fontPrincipal">
        <div class="col-md-4 bloco bordaSeparacao text-center">
            <div class="divTituloBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img src="/assets/img/Site/Refrigeracao/icones/pos-venda.svg">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">{{'PosVenda' | translate}}</label>
                    </div>
                </div>
                <div>
                    <a href="/assets/download/refrigeracao/CDG-Comunicado_de_defeito_em_garantia.DOC">
                    <label class="fontLight texto">{{'CdgOnline' | translate}}</label>
                </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 bloco bordaSeparacao text-center">
            <div class="divTituloBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img src="/assets/img/Site/Refrigeracao/icones/qualidade.svg">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">{{'Qualidade' | translate}}</label>
                    </div>
                </div>
                <div>
                    <a  routerLink="/Refrigeracao/PoliticaQualidade">
                        <label class="fontLight texto" style="max-width: 180px;">
                            {{'PoliticaQualidadeCertificado' | translate}}
                        </label>
                    </a>

                </div>

            </div>
        </div>
        <div class="col-md-4 bloco text-center">
            <div class="divTituloBloco">
                <div class="espacamentoTitulo">
                    <div class="divImg">
                        <img src="/assets/img/Site/Refrigeracao/icones/contato.svg">
                    </div>
                    <div class="divTitulo">
                        <label class="fontLight titulo my-0">{{'Contato' | translate}}</label>
                    </div>
                </div>
                <div>
                    <label class="fontLight texto">
                        {{'Email' | translate}}
                        <br>refrigeracao@elgin.com.br
                        <br><br>{{'Telefone' | translate}}
                        <br>11 3383 5901
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>