<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 p-0 col-12">
        <div class="bloco imgRefrigeracaoIndustrial">
            <div class="degrade"></div>
            <div class="align-bottom">
                <label class="fontPrincipal fontLight titulo">
                    {{'RefrigeracaoIndustrial' | translate}}
                </label><br>
                <label class="fontPrincipal fontLight subtitulo">
                    {{'RefrigeracaoIndustrialTag' | translate}}
                </label>
                <div>
                    <a class="btn btn-saiba-mais fontPrincipal fontLight"
                        routerLink="/Refrigeracao/Segmento/RefrigeracaoIndustrial">
                        {{'SaibaMais' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 p-0 col-12">
        <div class="bloco imgAletados">
            <div class="degrade"></div>
            <div class="align-bottom">
                <label class="fontPrincipal fontLight titulo">
                    {{'Aletados' | translate}}
                </label><br>
                <label class="fontPrincipal fontLight subtitulo">
                    {{'AletadosTag' | translate}}
                </label>
                <div>
                    <a class="btn btn-saiba-mais fontPrincipal fontLight" routerLink="/Refrigeracao/Segmento/Aletados">
                        {{'SaibaMais' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 p-0 col-12">
        <div class="bloco imgSupermercados">
            <div class="degrade"></div>
            <div class="align-bottom">
                <label class="fontPrincipal fontLight titulo">
                    {{'Supermercados' | translate}}
                </label><br>
                <label class="fontPrincipal fontLight subtitulo">
                    {{'SupermercadosTag' | translate}}
                </label>
                <div>
                    <a class="btn btn-saiba-mais fontPrincipal fontLight"
                        routerLink="/Refrigeracao/Segmento/Supermercados">
                        {{'SaibaMais' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 p-0 col-12">
        <div class="bloco imgRefrigeracaoComercial ">
            <div class="degrade"></div>
            <div class="align-bottom">
                <label class="fontPrincipal fontLight titulo">
                    {{'RefrigeracaoComercial' | translate}}
                </label><br>
                <label class="fontPrincipal fontLight subtitulo">
                    {{'RefrigeracaoComercialTag' | translate}}
                </label>
                <div>
                    <a class="btn btn-saiba-mais fontPrincipal fontLight"
                        routerLink="/Refrigeracao/Segmento/RefrigeracaoComercial">
                        {{'SaibaMais' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>