
label{
    font-size: 13px;
    font-family: fontPrincipal;
    font-weight: 300;
    color: #9C9C9C !important;
}

.titulo {
    margin-bottom: 100px;
    padding-bottom: 0;
}

.blocoIcone{
    /* margin-bottom: 50px; */
    background-color: #F8F8F8;
    border: 2px solid #fff;
    padding: 50px;
}

.linha{
    padding: 20px;
    margin: 10px;
    max-width: 95px;
}

h1{
    color: #484848 !important;
    padding-bottom: 20px;
    font-size: 35px;
}

.w-90{
    width:90%;
}

.containerVantagens{
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 576px){
    .titulo {
        font-size: 29px !important;
    }
    .containerVantagens{
        padding-bottom: 20px !important;
    }
}