<div class="containerVantagens">
    <div class="col-md-12 col-12">
        <h1 class="titulo text-center col-md-12 fontPrincipal fontLight">Vantagens do <strong>Kit Solar Elgin</strong>
        </h1>
        <div class="row justify-content-center">
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconINMETRO.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Certificado<br />pelo INMETRO</label>
                </div>
            </div>
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconintegradores.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Rede de Integradores<br />credenciados</label>
                </div>
            </div>
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconv.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Suporte técnico<br />e garantia</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/icondocumentacao.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Documentação para<br />homologação</label>
                </div>
            </div>
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconvalorizacao.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Valorização<br />do Imóvel</label>
                </div>
            </div>
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconenergia.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Energia Limpa,<br />Gratuita e Inesgotável</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/icondurabilidade.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">25 Anos de<br />Vida Útil</label>
                </div>
            </div>
            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconeconomia.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Economia<br />Imediata</label>
                </div>
            </div>

            <div class="text-center col-md-4 blocoIcone">
                <img src="/assets/img/Site/Solar/icones/iconprojeto.png" alt>
                <div class="row justify-content-center">
                    <label class="w-90">Projeto<br />Personalizado</label>
                </div>
            </div>
        </div>
    </div>
</div>