<div class="banner"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="fontPrincipal fontLight titulo">
                {{'PoliticaQualidade' | translate}}
            </div>
            <div class="linha"></div>
        </div>
        <div class="col-md-8">
            <div class="fontSecundaria fontLight texto textoEspacamento">
                {{'PoliticaQualidadeTexto' | translate}}
            </div>
        </div>
    </div>

    <div class="espacamento-100">
        <div class="fontPrincipal fontLight titulo text-center">
            {{'CertificacaoIso'| translate}}
        </div>
        <div class="linhaCentro"></div>
    </div>

    <div class="row justify-content-center espacamento-100">
        <div class="col-md-8 fontSecundaria fontLight texto text-center">
            {{'CertificacaoIsoTexto'| translate}}
        </div>
    </div>

    <div class="text-center">
        <a href="/assets/arquivos/CertificadoISO_9001_2015.pdf" download>
            <input type="button" class="btnDownload" value="{{'BaixarCertificado' | translate}}">
        </a>
    </div>
</div>