<input #file type="file" [id]="'files_'+ idPai"  (change)="upload(file.files)" style="display: none" multiple/>
<label class="btn-adc" [for]="'files_'+ idPai">{{texto}}</label>

<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
    {{progress}}%
</span>

<span style="font-weight:bold;color:#48bcf7;padding-left:10px" *ngIf="response && response.sucesso">
    Arquivo selecionado com sucesso!
</span>

<span style="font-weight:bold;color:red;" *ngIf="response && !response.sucesso">
    Algo inesperado aconteceu. Selecione o arquivo novamente.
</span>