
<ng-container >
    <div style="width: 700px; margin: 0 auto;">
<div style ="text-align: center; margin: 60px 0px;">
   <app-titulo-secoes-produto cor="#008EB8" altura2="0px"  altura="0px" fonte="41px" titulo="POLÍTICA DE PRIVACIDADE E PROTEÇÃO DE DADOS">
    </app-titulo-secoes-produto>

    </div>
   <p>
    A presente Política de Privacidade e Proteção de Dados do Grupo Elgin, na qual fazem parte Elgin S/A e filiadas, inscrita no CNPJ sob o n° 52.556.578/0001-22 (matriz),  Elgin Distribuidora Ltda, CNPJ nº 07.023.429/0001-43, Elgin HDB Refrigeração Ltda, CNPJ nº 60.179.488/0001-98, Elgin Industrial da Amazônia, CNPJ nº 14.200.166/0001-66, Elgin Componentes da Amazônia Ltda, CNPJ: 84.086.404/0001-30, Mogi Log Armazéns Gerais e Logística Ltda, CNPJ: 19.323.834/0001-66 e Bematech Hardware Ltda, CNPJ nº 27.101.611/0001-82, com endereço jurídico na Avenida Vereador Dante Jordão Stoppa, nº 47, Jardim Cíntia, Mogi das Cruzes/SP, CEP 08.820-390, contém informações a respeito do modo como são tratados, total ou parcialmente, de forma automatizada ou não, os dados pessoais dos usuários. Seu objetivo é esclarecer os interessados acerca dos tipos de dados que são coletados, dos motivos da coleta e da forma como o usuário poderá atualizar, gerenciar ou excluir estas informações.
    Esta Política de Privacidade foi elaborada em conformidade com a Lei Federal nº 12.965 de 2014 e com a Lei Federal nº 13.709 de 2018 (LGPD).
    Esta Política de Privacidade poderá ser atualizada em decorrência de eventual alteração normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.
</p>
<p>
    1.	Direitos do usuário
</p>
<p>
    O Grupo Elgin se compromete a cumprir normas previstas na LGPD, em respeito aos seguintes princípios:
</p><br>
    <div style="width: 70%; margin-left: 20%;">
   <p>* Os dados pessoais do usuário serão processados de forma lícita, leal e transparente (licitude, lealdade e transparência);</p>
   <p>* Os dados pessoais do usuário serão coletados apenas para finalidades determinadas, explícitas e legítimas, não podendo ser tratados posteriormente de uma forma incompatível com a finalidade aqui apresentada;</p>
   <p>* Os dados pessoais do usuário serão coletados de forma adequada, pertinente e limitada às necessidades do objetivo para os quais eles são processados;</p>
   <p>* Os dados pessoais do usuário serão exatos e atualizados sempre que necessário, de maneira que dados inexatos sejam apagados ou retificados quando possível;</p>
   <p>* Os dados pessoais do usuário serão conservados de uma forma que permita a identificação dos titulares dos dados apenas durante o período necessário para as finalidades para as quais são tratados;</p>
   <p>* Caso seja interesse do usuário, os dados poderão ser apagados, mediante sua solicitação. No entanto, podemos eventualmente ter que manter os dados do usuário, por motivo de lei, ordem judicial, prevenção à fraude, proteção ao crédito, interesse legítimo, inclusive para que os dados possam servir de prova em instruções processuais judiciais e extrajudiciais, e por outras formas autorizadoras para tratamento de dados, em conformidade com a legislação vigente;</p>
   <p>* Os dados pessoais do usuário serão tratados de forma segura, protegidos do tratamento não autorizado ou ilícito e contra a sua perda, destruição ou danificação acidental, adotando as medidas técnicas ou organizativas adequadas.</p>
    </div>

<p>
    2.	Fundamento jurídico para o tratamento dos dados pessoais<br>
    Ao utilizar os serviços do site, o usuário está consentindo com a presente Política de Privacidade.
    O usuário tem o direito de retirar seu consentimento a qualquer momento, não comprometendo a licitude do tratamento de seus dados pessoais antes da retirada. A retirada do consentimento poderá ser feita mediante envio de e-mail ao dpo@elgin.com.br.
</p>
<p>
    3.	Do encarregado de proteção de dados (DPO)<br>
    O encarregado de proteção de dados é o profissional encarregado de informar, aconselhar e controlar o responsável pelo tratamento dos dados, o encarregado de proteção de dados do Grupo Elgin é o Sr. Fábio Hoelz de Matos com endereço para correspondência na Avenida Vereador Dante Jordão Stoppa, nº 47, Jardim Cíntia, Mogi das Cruzes/SP, CEP 08.820-390, que poderá ser contatado pelo e-mail dpo@elgin.com.br.
</p>
<p>
    4.	Dever de não fornecer dados de terceiros<br>
    Durante a utilização do site, a fim de resguardar e de proteger os direitos de terceiros, o usuário do site deverá fornecer somente seus dados pessoais, e não o de terceiros.
</p>
<p>
    5.	Tipos de Dados Coletados<br>
    São coletados dados pessoais dos clientes e parceiros para execução de algumas das  atividades das empresas do Grupo. Estes dados pessoais podem ter diferentes características e ser classificados sob os seguintes tipos:
    
</p>

<app-titulo-secoes-produto cor="#A5A5A5"  altura2="0px"  altura="0px"  altura="true" titulo="  Dados Coletados (Exemplos):">
</app-titulo-secoes-produto>


<table border="1" cellpadding="0" cellspacing="0" width="70%" style="border-collapse:
 collapse;table-layout:fixed;width:70%">
 <colgroup><col width="300" style="mso-width-source:userset;mso-width-alt:15067;width: 264pt;">
 <col width="320" style="mso-width-source:userset;mso-width-alt:17700;width: 264pt;">
 </colgroup><tbody><tr height="21" style="height:15.75pt;mso-yfti-firstrow:yes;mso-yfti-irow:0">
  <td height="21" class="xl65" width="300" style="height:15.75pt;width:309pt ;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin; padding: 5%;"> Dados Coletados</span></td>
  <td class="xl66" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin; padding: 5%;"> Finalidade</span></td>
 </tr>
 <tr height="61" style="height:45.75pt;mso-yfti-irow:1">
  <td height="61" class="xl67" width="300" style="height:45.75pt;width:309pt;padding: 5%;"> Informação
  de contato <font class="font0">como o nome, sobrenome, CPF, endereço, número
  de telefone, endereço de correio eletrônico (e-mail).</font></td>
  <td class="xl68" width="320" style="width:363pt; padding: 5%;"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin ;padding: 5%;"> Emissão
  de Nota Fiscal, Controle de Produtos Vendidos por Região, Comercial,
  Marketing, SAC.</span></td>
 </tr>
 <tr height="41" style="height:30.75pt;mso-yfti-irow:2">
  <td height="41" class="xl69" width="300" style="height:30.75pt;width:309pt ;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin ">Solicita ou inscreve-se para obter informações ou quando adquire
  produtos da marca Elgin.</span></td>
  <td class="xl68" width="320" style="width:363pt;padding: 5%;"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin; padding:5%;">Comercial,
  Marketing, SAC.</span></td>
 </tr>
 <tr height="21" style="height:15.75pt;mso-yfti-irow:3">
  <td height="21" class="xl69" width="300" style="height:15.75pt;width:309pt;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">Abre e-mails ou clica em links em e-mails ou anúncios nossos.</span></td>
  <td class="xl68" width="320" style="width:363pt;padding: 5%;"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin; padding: 5%;">Capturamos
  esses dados para realização de marketing.</span></td>
 </tr>
 <tr height="61" style="height:45.75pt;mso-yfti-irow:4">
  <td height="61" class="xl69" width="300" style="height:45.75pt;width:309pt;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">Compra, usa ou interage com conteúdo, produtos ou serviços de
  fornecedores de terceiros que mantêm um relacionamento conosco.</span></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;padding: 5%;">Comercial,
  Marketing, SAC.</span></td>
 </tr>
 <tr height="81" style="height:60.75pt;mso-yfti-irow:5">
  <td height="81" class="xl69" width="300" style="height:60.75pt;width:309pt ;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">&nbsp;De outra forma, interage ou se comunica conosco (como ao
  participar de um de nossos eventos ou locais, quando solicita suporte ou nos
  envia informações ou quando menciona ou publica em nossas contas em mídias
  sociais).</span></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin ;padding: 5%;">Comercial,
  Marketing.</span></td>
 </tr>
 <tr height="41" style="height:30.75pt;mso-yfti-irow:6">
  <td height="41" class="xl69" width="300" style="height:30.75pt;width:309pt ;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">Comunica-se conosco por telefone, e-mail, chat, pessoalmente ou
  de outra forma.</span></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;padding: 5%;">Comercial,
  Marketing, SAC.</span></td>
 </tr>
 <tr height="41" style="height:30.75pt;mso-yfti-irow:7">
  <td height="41" class="xl69" width="300" style="height:30.75pt;width:309pt;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">Preenche um questionário, pesquisa, tíquete de suporte ou outro
  formulário de solicitação de informações.</span></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin; padding: 5%;">Comercial,
  Marketing, SAC.</span></td>
 </tr>
 <tr height="41" style="height:30.75pt;mso-yfti-irow:8">
  <td height="41" class="xl69" width="300" style="height:30.75pt;width:309pt;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">Manifesta interesse em trabalhar ou se candidata a um emprego ou
  posição conosco.</span></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin ; padding: 5%;">Banco de
  Dados para Recursos Humanos.</span></td>
 </tr>
 <tr height="61" style="height:45.75pt;mso-yfti-irow:9">
  <td height="61" class="xl69" width="300" style="height:45.75pt;width:309pt;padding: 5%;"><span style="mso-ansi-language:PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:
  minor-latin;padding: 5%;">Outras fontes públicas ou geralmente disponíveis, como sites de
  mídias sociais, sites públicos e online, bancos de dados abertos e dados em
  domínio público.</span></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin ;padding: 5%;">Comercial,
  Marketing.</span></td>
 </tr>
 <tr height="81" style="height:60.75pt;mso-yfti-irow:10">
  <td height="81" class="xl70" width="300" style="height:60.75pt;width:309pt ;padding: 5%;">Processar
  transações relacionadas aos nossos Serviços e administrar contas ou perfis
  relacionados a você ou à sua organização (incluindo registros, compras,
  eventos de cobrança e pagamentos).</td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin ;padding: 5%;">Financeiro,
  Comercial, Marketing.</span></td>
 </tr>
 <tr height="141" style="height:105.75pt;mso-yfti-irow:11">
  <td height="141" class="xl67" width="300" style="height:105.75pt;width:309pt ;padding: 5%;">Dados
  de acesso às nossas Plataformas Digitais (Ex. Websites; E-commerce; Apps;
  outros)<font class="font0">&nbsp;– tal como os dados recolhidos através de
  cookies e/ou por meios automatizados quando você navega em nossas Plataformas
  Digitais, como geolocalização, ou dados que você nos disponibiliza mediante
  seu consentimento, tal como preenchimento de formulários de contato,
  cadastro, solicitações, entre outros.</font></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;padding: 5%;">Comercial,
  Marketing.</span></td>
 </tr>
 <tr height="81" style="height:60.75pt;mso-yfti-irow:12;mso-yfti-lastrow:yes">
  <td height="81" class="xl67" width="300" style="height:60.75pt;width:309pt; padding: 5%;">Dados
  de satisfação e opiniões dos clientes<font class="font0">&nbsp;– tal como os
  resultados de pesquisa de satisfação e de opiniões postadas em nossos canais
  de comunicação e interação e ferramentas tecnológicas.</font></td>
  <td class="xl68" width="320" style="width:363pt"><span style="mso-ansi-language:
  PT-BR;mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin;padding: 5%;">Comercial,
  Marketing, SAC.</span></td>
 </tr>
 <!--[if supportMisalignedColumns]-->
 <tr height="0" style="display:none">
  <td width="300" style="width:309pt"></td>
  <td width="320" style="width:363pt"></td>
 </tr>
 <!--[endif]-->
</tbody></table>

<br>
<p>
    6.	Segurança no tratamento dos dados pessoais do usuário<br>
    O Grupo Elgin se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.
    Por fim, o Grupo Elgin se compromete a tratar os dados pessoais do usuário com confidencialidade, dentro dos limites legais.
</p>
<p>
    7.	Dados de Navegação (cookies)<br>
    Cookies são pequenos arquivos de texto enviados pelo site ao computador do usuário e que nele ficam armazenados, com informações relacionadas à navegação do site.
    Por meio dos cookies, pequenas quantidades de informação são armazenadas pelo navegador do usuário para que nosso serviço possa lê-las posteriormente. Podem ser armazenados, por exemplo, dados sobre o dispositivo utilizado pelo usuário, bem como seu local e horário de acesso ao site. Dessa forma, todas as regras previstas nesta Política de Privacidade também lhes são aplicáveis. 
</p>
<p>
    8.	Informações especiais para pais<br>
    As páginas do site da Elgin não se destinam a crianças, conforme definido na lei aplicável, e não serão recolhidos conscientemente dados pessoais de crianças. No entanto, é política do Grupo Elgin cumprir a lei no que diz respeito à autorização de pais ou tutores antes de recolher, utilizar ou divulgar dados pessoais de crianças. O Grupo Elgin está  empenhado em proteger as necessidades de privacidade de crianças e encoraja vivamente os pais e tutores a terem um papel ativo nas atividades online e interesses dos seus filhos e tutelados.
    Se eventualmente descobrir que o seu filho forneceu dados pessoais a uma das empresas do Grupo Elgin, sem o seu consentimento, pode contatar através do endereço eletrônico dpo@elgin.com.br. Se o Grupo Elgin descobrir que uma criança forneceu dados pessoais, estas informações serão apagadas dos arquivos.
</p>
<p>
    9.	Do Direito aplicável e do foro<br>
    Os eventuais litígios deverão ser apresentados no foro da cidade de Mogi das Cruzes, Estado de São Paulo.
</p>
 </div>
</ng-container>