<mat-accordion>
    <mat-expansion-panel *ngFor="let sublinha of sublinhas |filter: sublinhas.ordem ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="sidebarCategoria" class="fontSecundaria fontLight" style="font-size:15px;">
                    {{sublinha.nomeSubLinha}}
                </span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="ulProduto">
            <li *ngFor="let produto of sublinha.produtos" class="liProduto">
                <a class="fontSecundaria aSidebar"
                    [ngClass]="(produtoSelecionado==produto.id)?'fontSemiBold':'fontLight'"
                    (click)="selecionaProduto(produto.id);" style="cursor:pointer;">
                    {{produto.nomeProduto}}
                </a>
            </li>
        </ul>
    </mat-expansion-panel>
</mat-accordion>