<div class="container" style="margin-top:70px; margin-bottom: 5%;">
    <div class="row">
        <div *ngIf="response.idPai && response.idPai != guidEmpty" class="col-sm-12 voltar">
            <span [routerLink]="['/PortaldeApoio/Merchandising/Treinamento', response.idPai]">&#60; Voltar</span>
        </div>
        <div *ngIf="response.idPai == guidEmpty" class="col-sm-12 voltar">
            <span [routerLink]="['/PortaldeApoio/Merchandising/Treinamento']">&#60; Voltar</span>
        </div>
        <div class="col-md-12" style="padding-right:0;">
            <label *ngIf="response.nome" class="titulo-pasta fontPrincipal">{{response.nome}}</label>
        </div>
    </div>
    <app-modal-nova-pasta #modal showIfAdmin="MERCHAN_EDICAO" (recarregar)="retornaCarregamento($event)" [idPai]="id">
    </app-modal-nova-pasta>
    <app-modal-novo-treinamento showIfAdmin="MERCHAN_EDICAO" (recarregar)="retornaCarregamento($event)" [idPasta]="id">
    </app-modal-novo-treinamento>
    <div *ngIf="response" class="row">
        <ng-container *ngFor="let filho of response.pastas">
            <div class="col-md-3 col-sm-6 p-t-1 text-center" style="padding-right:0;">
                <div class="row">
                    <div class="col-12">
                        <app-modal-mover-item showIfAdmin="MERCHAN_EDICAO" [id]="filho.id" [isTreinamento]="false"
                            (recarregar)="retornaCarregamento($event)"></app-modal-mover-item>
                        <app-modal-editar-pasta showIfAdmin="MERCHAN_EDICAO" [pasta]="filho"
                            (recarregar)="retornaCarregamento($event)"></app-modal-editar-pasta>
                    </div>
                    <div class="col-12">
                        <div class="btn-pasta" [routerLink]="['/PortaldeApoio/Merchandising/Treinamento', filho.id]">
                            <i class="far fa-folder fa-6x pointer folder"></i><br>
                            <label class="fontRegular fontPrincipal">{{filho.nome}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngFor="let treinamento of response.treinamentos">
            <div class="col-md-3 col-sm-6 p-t-1" style="padding-right:0;">
                <app-card-treinamento-merchan (recarregar)="retornaCarregamento($event)" [itens]="treinamento">
                </app-card-treinamento-merchan>
            </div>
        </ng-container>
    </div>
</div>