<div class="bannerTrabalheConosco">
    <img class="imagemTrabalheConosco imagemBannerTrabalhe" src="/assets/img/Site/TrabalheConosco/trabalhe_conosco.jpg" alt>
    <label class="fontPrincipal textCentered fontExtraLight m-0">Trabalhe Conosco</label>
</div>
<div class="container">
    <label class="fontSecundaria fontLight">
        Somos formados por profissionais altamente qualificados, pessoas que dão sua contribuição dia a dia nos diversos
        setores e que fazem à diferença.
    </label>
    <label class="fontSecundaria fontLight">
        O Grupo preza, também nos processos seletivos, pela ética e transparência. Desse modo, qualquer
        pessoa tem o direito de candidatar-se a uma vaga e, jamais, a ELGIN ou alguma eventual consultoria de Recursos
        Humanos parceira solicitará qualquer tipo de pagamento por parte dos candidatos.
    </label>
    <label class="fontSecundaria fontLight">
        Faça você também parte de nossa equipe!
    </label>
    <label class="fontSecundaria fontLight">
        Mande seu currículo para <a href="mailto:selecao@elgin.com.br">selecao@elgin.com.br</a>.
    </label>
    <label class="fontSecundaria fontLight">
        Consulte também nossas vagas no <a href="https://br.linkedin.com/company/elgin-s.a.-brazil-" target="_blank">LinkedIn</a>.
    </label>
</div>