.hentry {
    padding: 0 0 5px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(54, 57, 73, .05);
    box-shadow: 0 3px 8px 0 rgba(54, 57, 73, .05);
    margin-bottom: 50px;
    max-width: 460px;
}

.hentry:hover {
    -webkit-box-shadow: 0 29px 60px 0 rgba(54, 57, 73, .09);
    box-shadow: 0 29px 60px 0 rgba(54, 57, 73, .09)
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.list {
    padding: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hentry a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-weight: 600;
    padding: 15px 10px;
}

.size-24 {
    font-size: 18px;
    line-height: 1.66667;
    margin: 0 !important;
}

.btnCarregarMais{
    
    font-size:20px; 
    color:#005EB8 !important;
    cursor: pointer;
    margin-bottom: 100px;
}

.btnCarregarMais i{
    padding-left:5px;
}

.divPesquisa{
    margin-bottom: 90px;
}

@media (min-width: 768px) {
    .title {
        padding: 33px 30px 25px 30px;
    }

    .size-24 {
        font-size: 24px;
        line-height: 1.41667;
    }

    .list:after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background: #e4e8ed;
        position: absolute;
        top: 0;
        left: 50%;
        right: inherit;
        margin-left: -.5px;
    }
    .hentry:nth-of-type(odd) {
        margin-right: 61.01695%;
    }
    .hentry:nth-of-type(even) {
        margin-left: 61.01695%;
        margin-top: -230px;
    }
    .hentry {
        margin-bottom: 0;
        width: 38.98305%;
    }
}

