.tituloBoxProduto{
    font-size: 17px;
    padding-left: 5px;
}
.boxItens{
    font-size: 15px;
    color: #949494;
    line-height: 15px;
}

.acoesCatalogoProduto a{
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDDCDC; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DDDCDC; 
}

::placeholder{
  color: #949494;
}

.inputBoxProduto{
  border: 0;
  border-bottom: 1px solid #949494;
  width: 100%;
  text-align: left;
  height: 40px;
  margin: 20px 0px;
  color: #949494;
  text-indent: 5px;
  font-family: fontPrincipal;
}

.btnSelecionar{
  font-family: fontPrincipal;
  font-size: 14px;
  color: #40beff !important;
  font-weight: 500;
  cursor: pointer;
}

.foto {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.sigla {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0.5px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  font-family: fontPrincipal;
  line-height: 34px;
  padding-left: 3px;
}

  
/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  cursor: pointer;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; color: #40D3FF; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */