<div class="collapse navbar-collapse menuMobile" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="linhasCompletas">
        <a class="nav-link" (click)="toggleLinha()">Linhas <i class="fas fa-chevron-down" style="color:white;"></i></a>
        <div class="" *ngIf="linhaOpen">
          <div *ngFor="let linha of linhasCompletas" class="nav-link2">
            <ng-container *ngIf="linha.codigoLinha != 'MaquinaSorvete' && linha.codigoLinha != 'Automacao' && linha.codigoLinha != 'Refrigeracao'; else linkEspecial">
              <a class="nav-link" (click)="linha.showMobile = !linha.showMobile">{{linha.nomeLinha}} <i
                  class="fas fa-chevron-down" style="color:white;"></i></a>
              <div class="" *ngIf="linha.showMobile">
                <div *ngFor="let sublinha of linha.subLinhas" class="nav-link3">
                  <a class="nav-link" (click)="toggleNavbar()"
                    [routerLink]="['/Produtos/' + linha.codigoLinha + '/' + sublinha.codigoSubLinha ]">{{sublinha.nomeSubLinha}}</a>
                </div>
              </div>
            </ng-container>
            <ng-template #linkEspecial>
              <a *ngIf="linha.codigoLinha == 'MaquinaSorvete'" class="nav-link" (click)="toggleNavbar()" [routerLink]="['/Gelatta/Home']">{{linha.nomeLinha}}</a>
              <a *ngIf="linha.codigoLinha == 'Automacao'" class="nav-link" (click)="toggleNavbar()" [routerLink]="['/Automacao/Home']">{{linha.nomeLinha}}</a>
              <a *ngIf="linha.codigoLinha == 'Refrigeracao'" class="nav-link" (click)="toggleNavbar()" [routerLink]="['/refrigeracao']">{{linha.nomeLinha}}</a>
            </ng-template>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngFor="let menu of menus">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="[menu.rota]"> {{menu.nome}}</a>
      </li>
      <li style="padding-bottom: 10px;">
        <input (keyup.enter)="pesquisarProduto()" [(ngModel)]="txtPesquisa" class="input-mobile" placeholder="Pesquisar"
          type='text'>
        <img (click)="pesquisarProduto()" src="/assets/img/Site/Home/icons/busca.png" style="padding-left:14px">
      </li>
    </ul>
  </div>