<ng-template #contentSelecionarProduto let-modal>
    <div class="modal-header modal-header-copiar container">
        <div>
            <label class="tituloModal">Selecione um produto</label>
            <button type="button" class="close" aria-label="Close" (click)="close()" style="border:0px;outline: 0px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <ng-container *ngIf="produtos.length > 0">
        <div class="modal-body container">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div style="width: 250px;margin: 0 auto 16px;">
                        <input class="input-busca-produto" [(ngModel)]="txtPesquisa" placeholder="Pesquisar"
                            type='text'>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-10 divOverflow">
                    <ng-container *ngFor="let produto of produtos | PesquisaProdutoNome: txtPesquisa">
                        <div class="row justify-content-center" style="padding-top: 8px;">
                            <div class="col-sm-7 divProdutoCopiar">
                                <label [for]="produto.id" class="titulo-produto fontPrincipal fontLight">{{produto.nomeProduto}}</label>
                            </div>
                            <div class="divBotaoSelecionar">
                                <div class="fontSelecionar">
                                    <input [id]="produto.id" type="checkbox" [(ngModel)]="produto.selecionado">
                                    
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-10 text-center">
                    <input (click)="selecionarProdutos()" type="button" class="btn-adc" value="Finalizar">
                </div>
            </div>
        </div>
    </ng-container>

</ng-template>