.justify-content-space-around {
  justify-content: space-around !important;
}

@media (max-width: 575px) {
  .no-mg {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    padding-bottom: 30px;
  }
  
  /*
  .no-mg .col:nth-child(1),
  .no-mg .col:nth-child(2) {
    min-width: 40%;
  }
  */
}
