.divTitulo {
    padding-bottom:30px;
    margin-top:80px;
}

.titulo {
    font-size: 37px;
}

.banner{
    position: relative;
    padding-bottom: 70px;
}

.imagem{
    width: 100%;
}

select {
    background-color: transparent;
    border: 1px solid #005eb8;
    border-radius: 20px;
    color: #005eb8;
    width: 100%;
    font-family: fontPrincipal;
    font-weight: 100;
    font-size: 17px;
    padding: 6px 25px;
    text-align-last: center;
    -webkit-appearance: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.select-azul {
    background-position: 98% 11px !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #DDDCDC; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #DDDCDC; 
}

@media (max-width: 575px) {
    #estado{
        margin-top: 10px;
    }

    .containerIntegradores{
        padding-bottom: 30px;
    }
}