.bannerEmailDicas {
    background-image: url('/assets/img/Site/SuporteTecnico/banner_email.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
}

.imagem {
    width: 100%;
}

.divEsquerda {
    background-color: rgba(0, 10, 16, 0.64);
    /* position: absolute; */
    width: 45%;
    height: 500px;
    /* padding: 40px 20px 20px; */
    color: white !important;
    text-align: right;
}

.divDireita {
    /* position: absolute; */
    /* right: 0; */
    width: 55%;
    height: 500px;
    padding: 0 80px;
    color: white !important;
    font-family: fontPrincipal;
    font-size: 15px;
    font-weight: 200;
}

.divEsquerda .tit1 {
    font-weight: 200;
    font-size: 49px;
    line-height: 60px;
    margin-bottom: 40px;
    color: white !important;
}

.divEsquerda .tit2 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 30px;
    color: white !important;
}

.divEsquerda .tit3 {
    font-family: fontPrincipal;
    font-weight: 100;
    font-size: 13px;
    color: white !important;
}

.bannerEmailDicas {
    margin-top: 100px;
}

.center-div {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inputEmail {
    background-color: rgba(195, 195, 195, 0.62);
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    border-radius: 0;
}

.btnEnviar {
    background-color: transparent;
    border: 1px solid #ADADAD;
    color: #ADADAD;
    width: 120px;
    height: 35px;
}
.btnAbrirChamado {
    background-color: transparent;
    border: 1px solid #ADADAD;
    color: #ADADAD;
    width: 250px;
    height: 35px;
}

.blocoTexto {
    right: calc(55% + 80px);
    position: absolute;
    max-width: 455px;
    text-align: right;
}

.centerVertical {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.lblFone{
    margin: auto 0;
    font-weight: 700;
}

.divFooter{
    display: flex;
    align-items: center;
}

.divObs{
    max-width: 315px;
}

.divObs label{
    font-size: 13px;
}

.divBtnEnviar{
    margin-left: auto
}

.imgFone{
    margin-left: auto;
}

.divFone{
    display: flex;
}

@media(max-width: 1024px){
    .divDireita{
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .blocoTexto {
        right: 0;
        position: unset;
        padding: 0 20px;
        max-width: 100%;
        text-align: left;
    }

    .imgFone{
        margin: 0;
    }

    .bannerEmailDicas {
        display: block;
        height: auto;
    }

    .divEsquerda {
        width: 100%;
        height: auto;
        padding: 40px;
    }

    .divDireita {
        width: 100%;
        padding: 40px;
        height: auto;
    }

    .centerVertical {
        display: block !important;
    }

    .divFone{
        margin-bottom: 0 !important;
    }
}

@media(max-width: 576px){
    .bannerEmailDicas {
        margin-top: 80px;
    }
}