<ng-template #content let-modal>
    <ng-container>
        <div class="modal-body container" style="padding: 0">
            <div class="text-center" style="width: 100%;padding: 0">
                <a [href]="arquivo.linque" >
                <img *ngIf="arquivo.caminho" style="max-width: 100%" [src]="arquivo.caminho" alt></a>
            </div>
            <div class="col-sm-12" style="margin: 0 auto">
                <ng-container *ngIf="!isConsulta; else consulta">
                    <div class="col-sm-12" style="margin-top:30px">
                        <input placeholder="Título da Imagem" class="inputModalMpdv" type="text"
                            [(ngModel)]="arquivo.nomeArquivo">
                    </div>
                    <div style="margin-top: 30px; padding-left: 15px;">
                        <app-upload-file [justImages]="true" [caminho]="arquivo.codigoTipoArquivo"
                            (resposta)="getRespostaArquivo($event)"></app-upload-file>
                    </div>
                </ng-container>

                <ng-template #consulta>
                    <div class="row" style="padding: 30px 30px 15px">
                        <label class="fontModalArquivoMpdv">{{arquivo.nomeArquivo}}</label>
                    </div>
                    <div class="row" style="padding: 15px 30px 30px">
                        <a [href]="arquivo.caminho" class="btn-download-image-mpdv"></a>
                    </div>
                </ng-template>

                <div *ngIf="!isConsulta" class="row pt-3" style="padding: 15px">
                    <div class="col-sm-12 text-center">
                        <input class="btn-adc" type="button" value="Salvar" (click)="salvar();">
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>