.container{
    margin-top: 5%;
}

div p{
    text-align: justify;
    font-size: 18px;
    color:#7E7E7E;
    margin-bottom: 20px;
}

.titulo{
    margin: 0;
    color: #7E7E7E !important;
    text-align: center;
    font-size: 27px;
 }

textarea{
    height: 180px !important;
    resize: none;
}

.btn-circle {
    color: #7E7E7E !important;
    height: 35px;
    border: 1px solid #7E7E7E;
    border-radius: 20px;
    font-size: 13px;
    padding: 7px 16px;
    margin-right: 6px;
    cursor: pointer;
}

.btn-circle:hover{
    color: white !important;
    background: linear-gradient(156deg, #2B9AF8, #2B9CF8, #1DEEFF);
    border-color: white;
}

.botoes{
    margin-top: 20px;
}

.form.fontSecundaria.fontLight{
    font-size: 13px;
}

.control-label{
    font-size: 14px;
    font-weight: 200;
    color: #747474;
    padding-top:20px; 
}

::ng-deep .popover {
     background-color:#FFF7CC;
     font-size: 14px;
     font-weight: 200;
     font-family: fontPrincipal;
}

::ng-deep .popover-body {
    color: #2c2c2c;
}

::ng-deep .popover>.arrow:after {
    border-right-color: #FFF7CC;
}